$unSelectedColor: #4D4D4D;

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.5s step-start;

  .textContainer {
    padding: 2em;

    .textQuestion {
      margin: 0;
      font-size: 3.5em;
    }

    .isUnselected {
      color: white;
      border-radius: 2em;
      padding: 1em;
      background-color: $unSelectedColor;
    }

    .isClicked {
      color: black;
      padding: 1em;
      background-color: white;
    }

    .textAnswer {
      margin: 0;
      font-size: 3em;
      padding: 1em;
      color: black;
    }
  }
};

.questionClicked {
  border: 3px solid black;
  border-radius: 6em;
}

@media (max-width: 1024px){
  .questionContainer{
    .textContainer{
      padding: 1.5em;

      .textQuestion {
        font-size: 2.5em;
      }
      .textAnswer {
        font-size: 2em;
      }
    }
  }
}

@media (max-width: 1024px){
  .questionContainer{
    .textContainer{
      padding: 1em;

      .textQuestion {
        font-size: 1.5em;
      }
      .textAnswer {
        font-size: 1em;
      }
    }
  }
}