.questionsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0;
  width: 70%;

  .questionBlockTitle {
    font-size: 3em;
    padding: 1em;
    margin: 0;
  }
  .questionsContainer {
    display: grid;
    gap: 1.5em;
    flex-direction: column;
    align-items: start;
    width: 100%;
    //padding: 1.5em 0 0 0;
  }
}

@media (max-width: 1024px) {
  .questionsBlock{
    width: 80%;
    .questionBlockTitle {
      font-size: 2em;
    }
  }
}


@media (max-width: 768px) {
  .questionsBlock{
    width: 85%;
    .questionBlockTitle {
      font-size: 1.5em;
    }
  }
}
